@media screen and (max-width: 1190px){
  .flex-width{
    max-width:890px;
    min-width:590px;
  }
  .flex-hide{
    display:none;
  }
}
@media screen and (min-width: 1190px){
  .flex-width{
    width:1190px;
  }
}
body{
  font-family:  "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
